*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainbody{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 30px;
    height: 100vh;
    background-color: antiquewhite;
}

/*boxes styling*/

.box1, .box2, .box3{
    background-color: white;
    width: 300px;
    height: 410px;
    box-shadow: 0.5px 0.5px 6px 2px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.box1 img, .box2 img, .box3 img{
    width: 300px;
    height: 200px;
}

.box1 h1, .box2 h1, .box3 h1{
    font-family: sans-serif;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 25px;
    color: #3C4043;
}

.box1 p, .box2 p, .box3 p{
    font-family: sans-serif;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #848383;
}

.box1 button, .box2 button, .box3 button{
    margin-top: 14px;
    margin-left: 20px ;
    background-color: #82B1FF;
    text-decoration: none;
    padding: 12px 18px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}

.box1 button:hover, .box2 button:hover, .box3 button:hover {
    background-color: #6699FF;
    cursor: pointer; 
}



